openapi: 3.1.0
info:
  title: Cortex API
  version: 0.0.1
  summary: 面向数据解析、存储、知识构建、效果评测与数据合成的厂商中立 API。 / Vendor-neutral APIs for parse,
    storage, knowledge, evaluation, and synthesis.
  description: Cortex 通过统一契约暴露五类核心
    API：Parse、Storage、Knowledge、Evaluation、Synthesis。各域共享厂商中立的数据模型、统一的 Job
    体系、统一权限边界，以及基于 OpenTelemetry 的可观测能力。
servers:
  - url: https://api.cortex.com
    description: Production / 生产环境
  - url: " https://dev.cortex.com"
    description: Development / 测试环境
tags:
  - name: Health
    description: 运行存活与依赖就绪探针。/ Runtime liveness and dependency readiness probes.
  - name: Observability
    description: 对齐 OpenTelemetry 的遥测与指标接口。/ OpenTelemetry-aligned telemetry and
      metrics endpoints.
  - name: Jobs
    description: 通用长任务查询与控制。/ Generic long-running job inspection and control.
  - name: Parse
    description: 面向 URL 与文件的引擎无关解析、标准化与持久化。/ Engine-agnostic parsing, normalization,
      and persistence for URLs and files.
  - name: Storage
    description: 上传、查询和下载 S3 后端对象。 / Upload, inspect, and download S3-backed objects.
  - name: Knowledge
    description: Dataset lifecycle plus Cognee-backed Add, Cognify, Memify, and
      Search operations. / 数据集生命周期与基于 Cognee 的 Add、Cognify、Memify、Search 操作。
  - name: Evaluation
    description: AI 评测引擎、指标目录、同步校验与异步评测作业。/ AI evaluation engines, metric catalogs,
      synchronous checks, and asynchronous evaluation jobs.
  - name: Synthesis
    description: 数据合成引擎以及同步、异步生成工作流。/ Synthetic data engines plus synchronous and
      asynchronous generation workflows.
  - name: Dev Auth
    description: 仅本地开发环境启用的 token 生成辅助接口。/ Local-development-only token issuance helper.
paths:
  /v1/health/live:
    get:
      tags:
        - Health
      summary: Liveness probe
      operationId: getLiveness
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
  /v1/health/ready:
    get:
      tags:
        - Health
      summary: Readiness probe
      operationId: getReadiness
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
        "503":
          description: Service Unavailable
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
      security:
        - BearerAuth: []
  /v1/jobs/{jobId}:
    get:
      tags:
        - Jobs
      summary: Get job status
      description: Return the current state, timestamps, and telemetry context for one
        long-running job.
      operationId: getJob
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            description: Job identifier returned by a create-job endpoint such as Parse,
              Add, Cognify, or Memify.
            examples:
              - job_71fe50adf1cb4981bb322f0d74f32598
            title: Jobid
          description: Job identifier returned by a create-job endpoint such as Parse,
            Add, Cognify, or Memify.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusDetail"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/jobs/{jobId}/events:
    get:
      tags:
        - Jobs
      summary: List job events
      description: Return the ordered event stream for one job, newest first according
        to the service implementation.
      operationId: listJobEvents
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            description: Job identifier whose event stream should be returned.
            examples:
              - job_71fe50adf1cb4981bb322f0d74f32598
            title: Jobid
          description: Job identifier whose event stream should be returned.
        - name: limit
          in: query
          required: false
          schema:
            type: integer
            maximum: 500
            minimum: 1
            description: "Maximum number of events to return. Best default: 100."
            examples:
              - 100
            default: 100
            title: Limit
          description: "Maximum number of events to return. Best default: 100."
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: "#/components/schemas/JobEvent"
                title: Response Listjobevents
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/jobs/{jobId}/cancel:
    post:
      tags:
        - Jobs
      summary: Cancel a queued or running job
      description: Request cancellation of a queued or running job and return the
        updated status snapshot.
      operationId: cancelJob
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            description: Job identifier to cancel.
            examples:
              - job_71fe50adf1cb4981bb322f0d74f32598
            title: Jobid
          description: Job identifier to cancel.
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusDetail"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/eval/engines:
    get:
      tags:
        - Evaluation
      summary: List evaluation engines
      description: Returns the currently registered evaluation engines, supported
        evaluation types, execution modes, and default profile hints.
      operationId: listEvalEngines
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalEngineList"
      security:
        - BearerAuth: []
  /v1/eval/metrics:
    get:
      tags:
        - Evaluation
      summary: List normalized evaluation metrics
      description: Returns the normalized Cortex metric catalog that maps
        business-facing metric keys to engine-native implementations across
        DeepEval, EvalScope, and future adapters.
      operationId: listEvalMetrics
      security:
        - BearerAuth: []
      parameters:
        - name: evalType
          in: query
          required: false
          schema:
            anyOf:
              - $ref: "#/components/schemas/EvalType"
              - type: "null"
            title: Evaltype
        - name: engineId
          in: query
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            title: Engineid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalMetricCatalog"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/eval/sync:
    post:
      tags:
        - Evaluation
      summary: Execute a synchronous evaluation run
      description: Runs a small evaluation workload synchronously. Recommended for
        smoke checks, profile tuning, and low-cardinality datasets; larger
        workloads should use `/v1/eval/jobs`.
      operationId: runEvaluationSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalSyncRequest"
              description: "Unified evaluation request body. Required: `eval_type` and
                `input`. `engine_id` defaults to `auto`."
            examples:
              rag_eval:
                summary: RAG evaluation / RAG 评测
                description: Recommended synchronous evaluation for a small RAG validation
                  dataset.
                value:
                  name: Fintech-RAG-QA-Eval
                  eval_type: rag
                  engine_id: auto
                  input:
                    type: dataset
                    dataset_id: ds_001
                    field_mapping:
                      user_input: question
                      actual_output: answer
                      retrieval_contexts: contexts
                  target:
                    type: api
                    endpoint_url: https://ordix.internal/v1/query
                    timeout_seconds: 30
                  metrics:
                    - metric_key: rag.faithfulness
                      threshold: 0.8
                    - metric_key: rag.answer_relevance
                      threshold: 0.7
              deepeval_multi_turn_sync:
                summary: DeepEval multi-turn sync / DeepEval 多轮同步评测
                description: Inline multi-turn conversation evaluation for quick regression
                  checks.
                value:
                  name: swagger-dialog-smoke
                  eval_type: multi_turn
                  engine_id: deepeval
                  input:
                    type: inline_test_cases
                    test_cases:
                      - conversation_turns:
                          - role: user
                            content: Help me parse a PDF from storage.
                          - role: assistant
                            content: Upload it to Storage and submit a Parse job.
                        metadata:
                          case_id: dialog-smoke-001
                  metrics:
                    - metric_key: dialog.conversation_relevancy
                      threshold: 0.75
                    - metric_key: dialog.conversation_completeness
                      threshold: 0.75
              evalscope_perf_sync:
                summary: EvalScope perf sync / EvalScope 性能同步评测
                description: Long-prompt OpenAI-compatible performance request routed to
                  EvalScope. Replace `api_key` with a real OpenRouter or compatible provider
                  key.
                value:
                  name: swagger-perf-job
                  eval_type: perf
                  engine_id: evalscope
                  input:
                    type: builtin_dataset
                    builtin_dataset_key: longalpaca
                  target:
                    type: api
                    protocol: openai_compatible
                    endpoint_url: https://openrouter.ai/api/v1/chat/completions
                    api_key: sk-xxx
                    model_ref: deepseek/deepseek-v4-flash
                    timeout_seconds: 60
                  engine_options:
                    parallel:
                      - 1
                      - 2
                    number:
                      - 2
                      - 2
                    stream: false
                    max_tokens: 2048
                    min_tokens: 1024
                    max_prompt_length: 2048
                    min_prompt_length: 1024
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalRunResult"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/eval/jobs:
    post:
      tags:
        - Evaluation
      summary: Submit an asynchronous evaluation job
      description: Queues a longer-running evaluation workload and returns a Cortex
        job handle for polling, events, and result retrieval.
      operationId: createEvalJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: Optional idempotency key for asynchronous evaluation job
              submission.
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: Optional idempotency key for asynchronous evaluation job submission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EvalJobSubmitRequest"
              description: Async evaluation job request. Use this for larger datasets, agent
                regressions, or scheduled validation workloads.
            examples:
              agent_eval_job:
                summary: Agent evaluation job / Agent 评测作业
                description: Recommended async submission for larger agentic or regression
                  workloads.
                value:
                  name: Support-Agent-Regressions
                  eval_type: agentic
                  engine_id: auto
                  input:
                    type: dataset
                    dataset_id: ds_agent_suite
                  metrics:
                    - metric_key: agent.task_completion
                      threshold: 0.8
                    - metric_key: agent.tool_correctness
                      threshold: 0.8
                  webhook:
                    url: https://example.com/hooks/cortex/eval
                    event_types:
                      - job.succeeded
                      - job.failed
              evalscope_perf_job:
                summary: EvalScope perf async job / EvalScope 异步性能评测
                description: Recommended async submission for larger performance workloads.
                value:
                  name: swagger-perf-job
                  eval_type: perf
                  engine_id: evalscope
                  input:
                    type: builtin_dataset
                    builtin_dataset_key: longalpaca
                  target:
                    type: api
                    protocol: openai_compatible
                    endpoint_url: https://openrouter.ai/api/v1/chat/completions
                    api_key: sk-xxx
                    model_ref: deepseek/deepseek-v4-flash
                    timeout_seconds: 60
                  engine_options:
                    parallel:
                      - 1
                      - 2
                    number:
                      - 2
                      - 2
                    stream: false
                    max_tokens: 2048
                    min_tokens: 1024
                    max_prompt_length: 2048
                    min_prompt_length: 1024
              deepeval_custom_job:
                summary: DeepEval custom async job / DeepEval 异步自定义评测
                description: Custom GEval-style quality check with a caller-provided criterion.
                value:
                  name: swagger-custom-quality-job
                  eval_type: custom
                  engine_id: deepeval
                  input:
                    type: inline_test_cases
                    test_cases:
                      - user_input: Explain Cortex Parse in one sentence.
                        actual_output: Cortex Parse converts web pages and files into Markdown with
                          normalized metadata.
                        expected_output: Cortex Parse should mention Markdown and standardized metadata.
                  metrics:
                    - metric_key: quality.correctness
                      threshold: 0.8
                      params:
                        criteria: Score whether the answer correctly explains the business purpose of
                          Cortex Parse.
                  webhook:
                    url: https://example.com/hooks/cortex/eval
                    event_types:
                      - job.succeeded
                      - job.failed
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/EvalJobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/eval/jobs/{jobId}/result:
    get:
      tags:
        - Evaluation
      summary: Get a completed evaluation result
      description: Returns the completed evaluation result when the async job
        succeeds, or a 409 job status payload while work is still in progress.
      operationId: getEvalResult
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            title: Jobid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/EvalRunResult"
                  - $ref: "#/components/schemas/JobStatusDetail"
                title: Response Getevalresult
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusDetail"
          description: Conflict
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/knowledge/datasets:
    post:
      tags:
        - Knowledge
      summary: Create a knowledge dataset
      description: Create a dataset that Add, Cognify, Memify, and Search operations
        will target.
      operationId: createKnowledgeDataset
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/KnowledgeDatasetCreateRequest"
              description: Dataset creation request. `dataset_key` and `display_name` are
                required; other fields are optional with documented defaults.
            examples:
              swagger_demo_dataset:
                summary: Swagger demo dataset / Swagger 演示数据集
                description: Creates a tenant-shared dataset used by the one-click Knowledge
                  examples below. If this key already exists, change the suffix
                  and reuse the same key in Add, Cognify, Memify, and Search
                  requests.
                value:
                  dataset_key: swagger_knowledge_demo
                  display_name: Swagger Knowledge Demo
                  description: Small Knowledge dataset for Swagger Try it out tests using inline
                    text, public URIs, and uploaded storage objects.
                  tags:
                    - swagger
                    - knowledge
                    - demo
                  retention_class: temporary
                  metadata:
                    domain: cortex
                    owner_team: platform
                    demo_flow: storage-parse-knowledge
                  access_policy:
                    access_level: tenant_shared
                    classification_labels:
                      - internal
                    allowed_role_keys:
                      - tenant_admin
                      - analyst
                    denied_role_keys: []
                    purpose_tags:
                      - search
                      - assistant
                      - swagger_demo
                    constraints: {}
              product_docs_dataset:
                summary: Product docs dataset / 产品文档数据集
                description: Creates a tenant-shared dataset suitable for Parse -> Add -> Search
                  workflows.
                value:
                  dataset_key: product_docs
                  display_name: Product Docs
                  description: Primary product knowledge base for demos and regression tests.
                  tags:
                    - docs
                    - product
                  retention_class: standard
                  metadata:
                    domain: product
                    owner_team: platform
                  access_policy:
                    access_level: tenant_shared
                    classification_labels:
                      - internal
                    allowed_role_keys:
                      - tenant_admin
                      - analyst
                    denied_role_keys: []
                    purpose_tags:
                      - search
                      - assistant
                    constraints: {}
        required: true
      responses:
        "201":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDataset"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/knowledge/datasets/{datasetId}:
    get:
      tags:
        - Knowledge
      summary: Get dataset metadata and counters
      description: Return one dataset including audit info, counters, and access policy.
      operationId: getKnowledgeDataset
      security:
        - BearerAuth: []
      parameters:
        - name: datasetId
          in: path
          required: true
          schema:
            type: string
            description: Knowledge dataset identifier returned by `/v1/knowledge/datasets`.
            examples:
              - dset_9558cfc9178444e4a4c60d5658db78f5
            title: Datasetid
          description: Knowledge dataset identifier returned by `/v1/knowledge/datasets`.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/KnowledgeDataset"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/knowledge/add/jobs:
    post:
      tags:
        - Knowledge
      summary: Submit a Cognee Add job
      description: Queue an Add job to ingest objects, documents, text, or URIs into a
        knowledge dataset.
      operationId: createAddJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: "Optional idempotency key for safely retrying Add job submission.
              Best default: omit."
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: "Optional idempotency key for safely retrying Add job submission.
            Best default: omit."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/AddJobRequest"
              description: Add job request. Provide either `dataset_id` or `dataset_key`, then
                list one or more `inputs`.
            examples:
              swagger_inline_text_ingest:
                summary: Runnable inline text Add / 可直接运行的内联文本 Add
                description: Use after creating `swagger_knowledge_demo`. This is the safest
                  local Swagger smoke example because it does not require an
                  existing Storage object or external network access.
                value:
                  dataset_key: swagger_knowledge_demo
                  inputs:
                    - input_type: text
                      text: >-
                        # Cortex API Demo Knowledge


                        Cortex provides Parse, Storage, Knowledge, Evaluation,
                        and Synthesis APIs. Parse normalizes URLs and files into
                        Markdown. Storage keeps source files in S3-compatible
                        buckets. Knowledge uses Add, Cognify, Memify, and Search
                        to build graph-aware retrieval workflows.
                      label: Cortex API demo note
                      node_set:
                        - swagger_demo
                        - docs
                      metadata:
                        source: swagger-inline
                        domain: cortex
                        document_type: demo_note
                  options:
                    normalize_text: true
                    structured_ingest: true
                    incremental: true
                    persist_source_copy: false
              public_uri_ingest:
                summary: Public URI Add / 公共 URI Add
                description: Use when the Knowledge runtime can fetch public URLs. This keeps
                  the request copy-pasteable while exercising the URI input
                  path.
                value:
                  dataset_key: swagger_knowledge_demo
                  inputs:
                    - input_type: uri
                      uri: https://raw.githubusercontent.com/crabcanon/cortex/main/README.md
                      label: Cortex README from GitHub
                      node_set:
                        - swagger_demo
                        - docs
                        - uri
                      metadata:
                        source: github-raw
                        domain: cortex
                        document_type: readme
                  options:
                    normalize_text: true
                    structured_ingest: true
                    incremental: true
                    persist_source_copy: true
              storage_object_ingest:
                summary: Storage object Add / 存储对象 Add
                description: Use after uploading a file with `POST /v1/storage/files`; replace
                  `object_id` with the returned object id. This documents the
                  Storage -> Knowledge path.
                value:
                  dataset_key: swagger_knowledge_demo
                  inputs:
                    - input_type: object_id
                      object_id: obj_a3da967e3ca446cab3631bb7
                      label: Uploaded README or PDF
                      node_set:
                        - swagger_demo
                        - storage
                      metadata:
                        source: storage
                        bucket: cortex-local
                        object_key: tenant_demo/obj_a3da967e3ca446cab3631bb7/README.md
                  options:
                    normalize_text: true
                    structured_ingest: true
                    incremental: true
                    persist_source_copy: true
              parsed_document_ingest:
                summary: Parsed document Add / 解析文档 Add
                description: Recommended Add request after a file has been uploaded and
                  optionally parsed.
                value:
                  dataset_key: product_docs
                  inputs:
                    - input_type: object_id
                      object_id: obj_3f6c1d5e9b1646b5a4eabdbf8b417bd3
                      label: Uploaded source file
                      node_set:
                        - docs
                      metadata:
                        source: storage
                    - input_type: document_id
                      document_id: doc_71fe50adf1cb4981bb322f0d74f32598
                      label: Normalized parsed document
                      node_set:
                        - docs
                        - parsed
                      metadata:
                        source: parse
                  options:
                    normalize_text: true
                    structured_ingest: true
                    incremental: true
                    persist_source_copy: true
                  webhook:
                    url: https://example.com/hooks/cortex/knowledge-add
                    event_types:
                      - job.succeeded
                      - job.failed
                    headers:
                      X-Consumer: knowledge-worker
              direct_text_ingest:
                summary: Direct text ingest / 直接文本摄入
                description: Useful for small snippets, notes, or quick operator tests without a
                  prior upload.
                value:
                  dataset_key: product_docs
                  inputs:
                    - input_type: text
                      text: |-
                        # Cortex Notes

                        Cortex supports Parse, Storage, and Knowledge APIs.
                      label: Quick note
                      node_set:
                        - notes
                      metadata:
                        source: manual
                  options:
                    normalize_text: true
                    structured_ingest: true
                    incremental: true
                    persist_source_copy: false
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/knowledge/cognify/jobs:
    post:
      tags:
        - Knowledge
      summary: Submit a Cognify job
      description: Queue a Cognify job to derive graph structure from dataset content.
      operationId: createCognifyJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: "Optional idempotency key for safely retrying Cognify job
              submission. Best default: omit."
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: "Optional idempotency key for safely retrying Cognify job
            submission. Best default: omit."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CognifyJobRequest"
              description: Cognify job request. Provide either `dataset_id` or `dataset_key`;
                all other fields are optional.
            examples:
              swagger_demo_cognify:
                summary: Runnable Cognify for demo dataset / 演示数据集 Cognify
                description: Run after the `swagger_inline_text_ingest` Add job succeeds. It
                  builds graph structure for the demo dataset with a small
                  chunking budget.
                value:
                  dataset_key: swagger_knowledge_demo
                  incremental_loading: true
                  graph_prompt_profile: simple
                  chunking:
                    enabled: true
                    strategy: semantic
                    target_tokens: 384
                    overlap_tokens: 48
                    max_chunks: 64
              recommended_cognify:
                summary: Recommended Cognify request / 推荐 Cognify 请求
                description: Builds or refreshes the dataset graph with the default prompt
                  profile and semantic chunking.
                value:
                  dataset_key: product_docs
                  incremental_loading: true
                  graph_prompt_profile: default
                  chunking:
                    enabled: true
                    strategy: semantic
                    target_tokens: 512
                    overlap_tokens: 64
                    max_chunks: 256
                  webhook:
                    url: https://example.com/hooks/cortex/cognify
                    event_types:
                      - job.succeeded
                      - job.failed
                    headers:
                      X-Consumer: graph-sync
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/knowledge/memify/jobs:
    post:
      tags:
        - Knowledge
      summary: Submit a Memify job
      description: Queue a Memify enrichment job over an existing dataset graph.
      operationId: createMemifyJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: "Optional idempotency key for safely retrying Memify job
              submission. Best default: omit."
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: "Optional idempotency key for safely retrying Memify job
            submission. Best default: omit."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/MemifyJobRequest"
              description: Memify job request. Provide either `dataset_id` or `dataset_key`;
                `pipeline` defaults to `coding_rules`.
            examples:
              swagger_triplet_memify:
                summary: Runnable triplet Memify / 可运行的三元组 Memify
                description: Run after Cognify. The Python Cognee adapter currently supports
                  `triplet_embeddings` and `session_persistence` for live
                  execution.
                value:
                  dataset_key: swagger_knowledge_demo
                  pipeline: triplet_embeddings
                  node_type: document
                  node_names: []
                  session_ids: []
              recommended_memify:
                summary: Recommended Memify request / 推荐 Memify 请求
                description: Runs the default coding-rules enrichment pipeline over the selected
                  dataset.
                value:
                  dataset_key: product_docs
                  pipeline: coding_rules
                  node_type: document
                  node_names:
                    - Cortex API Overview
                    - Runtime Configuration Guide
                  session_ids: []
                  webhook:
                    url: https://example.com/hooks/cortex/memify
                    event_types:
                      - job.succeeded
                      - job.failed
                    headers:
                      X-Consumer: knowledge-memify
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/knowledge/search:
    post:
      tags:
        - Knowledge
      summary: Search across datasets and knowledge graphs
      description: Search across one or more datasets using semantic, graph, or hybrid
        retrieval. Use `recommended_graph_completion` for the most balanced
        default behavior.
      operationId: searchKnowledge
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SearchRequest"
              description: Knowledge search request. `query_text` is required; dataset scope
                and filters are optional.
            examples:
              swagger_demo_search:
                summary: Runnable demo search / 可运行的演示搜索
                description: Run after Add and preferably after Cognify. Uses the demo dataset
                  key from the Swagger dataset example.
                value:
                  query_text: What Cortex APIs are available and what does Knowledge do?
                  dataset_keys:
                    - swagger_knowledge_demo
                  search_type: GRAPH_COMPLETION
                  top_k: 5
                  filters:
                    document_ids: []
                    object_ids: []
                    tags: []
                    node_sets:
                      - swagger_demo
                    metadata: {}
                  only_context: false
                  include_provenance: true
                  include_graph_paths: true
                  timeout_seconds: 30
              storage_object_search:
                summary: Search storage-backed knowledge / 搜索存储来源知识
                description: Use after adding an uploaded Storage object. Replace the object id
                  with the id returned by `/v1/storage/files` when you want to
                  narrow results.
                value:
                  query_text: Summarize the uploaded README or PDF.
                  dataset_keys:
                    - swagger_knowledge_demo
                  search_type: CHUNKS
                  top_k: 5
                  filters:
                    document_ids: []
                    object_ids:
                      - obj_a3da967e3ca446cab3631bb7
                    tags: []
                    node_sets:
                      - storage
                    metadata: {}
                  only_context: true
                  include_provenance: true
                  include_graph_paths: false
                  timeout_seconds: 15
              recommended_graph_completion:
                summary: Recommended graph completion search / 推荐图谱补全搜索
                description: A good default search request for answering a question with
                  graph-aware context.
                value:
                  query_text: What does the documentation say about Cortex parse workflows?
                  dataset_keys:
                    - product_docs
                  search_type: GRAPH_COMPLETION
                  top_k: 10
                  filters:
                    document_ids: []
                    object_ids: []
                    tags:
                      - docs
                    node_sets:
                      - docs
                    metadata:
                      domain: product
                  only_context: false
                  include_provenance: true
                  include_graph_paths: true
                  timeout_seconds: 30
              chunk_search:
                summary: Chunk-level retrieval / Chunk 级检索
                description: Useful when you only want ranked context snippets without a
                  synthesized answer.
                value:
                  query_text: OpenTelemetry integration
                  dataset_keys:
                    - product_docs
                  search_type: CHUNKS
                  top_k: 5
                  only_context: true
                  include_provenance: true
                  include_graph_paths: false
                  timeout_seconds: 15
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SearchResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /metrics:
    get:
      tags:
        - Observability
      summary: Prometheus scrape endpoint
      operationId: getMetrics
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema: {}
  /v1/parse/engines:
    get:
      tags:
        - Parse
      summary: List available parse engines
      description: Return the registered parser engines, supported source kinds,
        default scene, supported scenes, and the default internal profile that
        the Parse request compiler will bind for each engine.
      operationId: listParseEngines
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParseEngineList"
      security:
        - BearerAuth: []
  /v1/parse/profiles:
    get:
      tags:
        - Parse
      summary: List parser profiles
      description: Return the internal parser profiles available to operators and
        debugging workflows. Most API callers should not need them because the
        public Parse API compiles `source + engine_id (+ scene)` into these
        profiles automatically.
      operationId: listParserProfiles
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParserProfileList"
      security:
        - BearerAuth: []
  /v1/parse/sync:
    post:
      tags:
        - Parse
      summary: Parse content synchronously
      description: Synchronously parse one or more source locators into LLM-ready
        Markdown. The public contract is centered on `sources`, `engine_id`, and
        optional `scene`.
      operationId: parseContentSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParseSubmitRequest"
              description: "Unified Parse request body. Required: `sources`. `engine_id`
                defaults to `auto`, and `scene` is optional."
            examples:
              auto_web_batch_parse:
                summary: Auto-routed web batch parse / 自动路由网页批量解析
                description: Submit one or more source locators and let Cortex pick the best
                  active engine and scene automatically.
                value:
                  sources:
                    - https://docs.cognee.ai/core-concepts/overview
                    - https://docs.crawl4ai.com/advanced/advanced-features/
                  engine_id: auto
              crawl4ai_deep_web:
                summary: Crawl4AI deep-web parse / Crawl4AI 深度网页解析
                description: Use Crawl4AI explicitly with the high-intensity `deep_web` scene.
                  This keeps fallback disabled and always routes the request to
                  Crawl4AI.
                value:
                  sources:
                    - https://docs.crawl4ai.com/advanced/advanced-features/
                  engine_id: crawl4ai
                  scene: deep_web
              minio_object_auto:
                summary: MinIO/S3 object parse / MinIO/S3 对象解析
                description: Parse a Cortex-managed object stored in MinIO/S3. The locator may
                  be the storage object key, an `s3://bucket/key` URI, or
                  `cortex://objects/{object_id}`; Cortex extracts the `obj_...`
                  id, signs a download URL, and detects MIME type.
                value:
                  sources:
                    - s3://cortex-local/tenant_demo/obj_a3da967e3ca446cab3631bb7/bofa_note.pdf
                  engine_id: auto
                  scene: document_ai
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParseBatchResult"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/parse/jobs:
    post:
      tags:
        - Parse
      summary: Submit an asynchronous parse job
      description: Queue one async parse job per source using the same unified public
        Parse contract. Add optional `priority` and `webhook` only when job
        control is needed.
      operationId: createParseJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: "Optional idempotency key for safely retrying asynchronous job
              submission. Best default: omit unless a client may re-send the
              same create request."
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: "Optional idempotency key for safely retrying asynchronous job
            submission. Best default: omit unless a client may re-send the same
            create request."
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ParseJobSubmitRequest"
              description: Unified async Parse request. `sources` may contain one or more
                locators; `engine_id` defaults to `auto`.
            examples:
              async_auto_batch_parse:
                summary: Async auto-routed batch parse / 异步自动路由批量解析
                description: Recommended when you want one async parse job per source with the
                  same high-level routing contract.
                value:
                  sources:
                    - https://docs.cognee.ai/core-concepts/overview
                    - s3://demo-bucket/manuals/architecture.pdf
                  engine_id: auto
                  priority: 5
                  webhook:
                    url: https://example.com/hooks/cortex/parse
                    secret_ref: vault:cortex/webhooks/parse
                    event_types:
                      - job.succeeded
                      - job.failed
                    headers:
                      X-Consumer: knowledge-pipeline
              async_docling_minio_pdf:
                summary: Docling async MinIO PDF parse / Docling 异步解析 MinIO PDF
                description: Use this for PDFs uploaded through Cortex Storage. Start the
                  `cortex-parse-worker-docling` worker/profile so the job is
                  claimed by the Docling runtime worker instead of the slim
                  parse worker.
                value:
                  sources:
                    - s3://cortex-local/tenant_demo/obj_a3da967e3ca446cab3631bb7/bofa_note.pdf
                  engine_id: docling
                  scene: document_ai
                  priority: 5
              async_llamaparse_minio_pdf:
                summary: LlamaParse async MinIO PDF parse / LlamaParse 异步解析 MinIO PDF
                description: Use this when the LlamaParse cloud API key is configured and the
                  object should be parsed by the cloud document parser.
                value:
                  sources:
                    - cortex-local/tenant_demo/obj_a3da967e3ca446cab3631bb7/bofa_note.pdf
                  engine_id: llama_parse
                  scene: document_fidelity
                  priority: 5
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ParseBatchJobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/parse/jobs/{jobId}/result:
    get:
      tags:
        - Parse
      summary: Get a completed parse result
      description: Poll for the parse result. Returns `409` with job status until the
        parse completes, then returns the final `ParseResult`.
      operationId: getParseResult
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            description: Parse job identifier returned by `/v1/parse/jobs`.
            examples:
              - job_71fe50adf1cb4981bb322f0d74f32598
            title: Jobid
          description: Parse job identifier returned by `/v1/parse/jobs`.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/ParseResult"
                  - $ref: "#/components/schemas/JobStatusDetail"
                title: Response Getparseresult
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusDetail"
          description: Conflict
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/storage/uploads:
    post:
      tags:
        - Storage
      summary: Initiate an upload session
      description: Create a signed upload session for a new object. The caller
        supplies file identity plus business metadata, while Cortex infers
        content type when possible and decides whether multipart is needed.
      operationId: createUploadSession
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageUploadCreateRequest"
              description: Upload session creation request. `filename` is required. Cortex
                infers `content_type` from `filename` when omitted, uses
                `size_bytes` when available to decide single-part vs multipart,
                and manages bucket/object-key routing internally.
            examples:
              recommended_single_part:
                summary: Recommended single-part upload
                description: Best for small and medium files that fit in one signed PUT request.
                  You can omit `size_bytes`; Cortex will finalize the actual
                  object size when the upload is completed.
                value:
                  filename: README.md
                  metadata:
                    source: swagger-demo
                    document_type: guide
                  access_policy:
                    access_level: tenant_shared
                    classification_labels:
                      - internal
                    allowed_role_keys:
                      - tenant_admin
                      - analyst
                    denied_role_keys: []
                    purpose_tags:
                      - knowledge_ingest
                    constraints: {}
                  tags:
                    - docs
                    - product
              multipart_large_file:
                summary: Multipart upload for large files
                description: Recommended when the client already knows the file is large enough
                  that Cortex should initialize multipart upload and return part
                  URLs.
                value:
                  filename: quarterly-report.pdf
                  size_bytes: 67108864
                  metadata:
                    source: finance-portal
                    department: fpna
                  tags:
                    - finance
                    - quarterly
        required: true
      responses:
        "201":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageUploadSession"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/storage/files:
    post:
      tags:
        - Storage
      summary: Upload a small file
      description: Upload a small file directly through the Cortex API. This endpoint
        is optimized for Swagger UI, local testing, and small files; use upload
        sessions for large files or production high-throughput transfers.
      operationId: uploadSmallFile
      requestBody:
        content:
          multipart/form-data:
            schema:
              $ref: "#/components/schemas/Body_uploadSmallFile"
        required: true
      responses:
        "201":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageObject"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/storage/uploads/{uploadId}/complete:
    post:
      tags:
        - Storage
      summary: Complete an upload session
      description: Finalize a single-part or multipart upload session after the
        object-store transfer has succeeded. This step is required because
        Cortex must verify the uploaded object, recover provider metadata, and
        commit the final object/version records.
      operationId: completeUploadSession
      security:
        - BearerAuth: []
      parameters:
        - name: uploadId
          in: path
          required: true
          schema:
            type: string
            description: Upload session identifier returned by `/v1/storage/uploads`.
            examples:
              - upl_9feeaad1935f4b478ff61d6347ee5562
            title: Uploadid
          description: Upload session identifier returned by `/v1/storage/uploads`.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StorageUploadCompleteRequest"
              description: Upload completion request. Use the single-part example when no
                multipart parts were issued.
            examples:
              single_part_complete:
                summary: Complete a single-part upload
                description: Use this when the upload session returned `single_part` instead of
                  `multipart_parts`.
                value:
                  parts: []
                  checksum_sha256: aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
              multipart_complete:
                summary: Complete a multipart upload
                description: Send the uploaded part numbers and provider ETags exactly as
                  returned by the object store.
                value:
                  parts:
                    - part_number: 1
                      etag: '"part-1-etag"'
                    - part_number: 2
                      etag: '"part-2-etag"'
                    - part_number: 3
                      etag: '"part-3-etag"'
                    - part_number: 4
                      etag: '"part-4-etag"'
                  checksum_sha256: bbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbbb
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageObject"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/storage/objects/{objectId}:
    get:
      tags:
        - Storage
      summary: Get object metadata
      description: Return the stored metadata, current version reference, and access
        policy for one object.
      operationId: getStorageObject
      security:
        - BearerAuth: []
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            description: Storage object identifier returned by upload or search flows.
            examples:
              - obj_3f6c1d5e9b1646b5a4eabdbf8b417bd3
            title: Objectid
          description: Storage object identifier returned by upload or search flows.
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/StorageObject"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/storage/objects/{objectId}/download-url:
    get:
      tags:
        - Storage
      summary: Create a download URL for an object
      description: Create a time-limited signed download URL for an object.
      operationId: createDownloadUrl
      security:
        - BearerAuth: []
      parameters:
        - name: objectId
          in: path
          required: true
          schema:
            type: string
            description: Storage object identifier to download.
            examples:
              - obj_3f6c1d5e9b1646b5a4eabdbf8b417bd3
            title: Objectid
          description: Storage object identifier to download.
        - name: ttl_seconds
          in: query
          required: false
          schema:
            type: integer
            maximum: 86400
            minimum: 60
            description: "Signed URL lifetime in seconds. Best default: 900 (15 minutes)."
            examples:
              - 900
            default: 900
            title: Ttl Seconds
          description: "Signed URL lifetime in seconds. Best default: 900 (15 minutes)."
        - name: disposition
          in: query
          required: false
          schema:
            $ref: "#/components/schemas/DownloadDisposition"
            description: "Suggested content disposition. Best default: `attachment`; use
              `inline` for browser preview."
            examples:
              - attachment
            default: attachment
          description: "Suggested content disposition. Best default: `attachment`; use
            `inline` for browser preview."
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/DownloadUrlResponse"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/synthesis/engines:
    get:
      tags:
        - Synthesis
      summary: List synthesis engines
      description: Returns the currently registered synthesis engines, supported
        synthesis types, supported source kinds, and output format hints.
      operationId: listSynthesisEngines
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynthesisEngineList"
      security:
        - BearerAuth: []
  /v1/synthesis/sync:
    post:
      tags:
        - Synthesis
      summary: Execute a synchronous synthesis run
      description: Runs a small synthesis workload synchronously. Recommended for
        preview generation, quality-gate tuning, and low-cardinality source
        samples.
      operationId: runSynthesisSync
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SynthesisSyncRequest"
              description: "Unified synthesis request body. Required: `synthesis_type` and
                `source`. `engine_id` defaults to `auto`."
            examples:
              rag_goldens:
                summary: RAG goldens synthesis / RAG 黄金集生成
                description: Generate a small synchronous preview set of RAG golden samples from
                  documents.
                value:
                  name: Support-RAG-Goldens
                  synthesis_type: rag_goldens
                  engine_id: auto
                  source:
                    type: documents
                    documents:
                      - Cortex exposes Parse, Storage, Knowledge, Evaluation,
                        and Synthesis APIs.
                  config:
                    sample_count: 5
                    quality_gates:
                      - metric_key: quality.correctness
                        threshold: 0.8
                  output:
                    output_format: json
              sdv_single_table:
                summary: SDV single-table sync / SDV 单表同步合成
                description: Generate a small structured preview from inline records. Requires
                  the SDV runtime dependency for synchronous execution.
                value:
                  name: swagger-sdv-customers
                  synthesis_type: structured_single_table
                  engine_id: sdv
                  source:
                    type: inline_records
                    inline_records:
                      - customer_id: c1
                        tier: gold
                        monthly_spend: 1200
                      - customer_id: c2
                        tier: silver
                        monthly_spend: 300
                    options:
                      table_name: customers
                  config:
                    sample_count: 5
                    anonymize_pii: true
                    quality_gates:
                      - metric_key: quality.row_count_match
                        threshold: 1
                  output:
                    output_format: json
                    include_preview: true
              deepeval_qa_pairs:
                summary: DeepEval QA sync / DeepEval QA 同步合成
                description: Generate a tiny QA preview from inline document context.
                value:
                  name: swagger-qa-preview
                  synthesis_type: qa_pairs
                  engine_id: deepeval
                  source:
                    type: documents
                    documents:
                      - Cortex Parse turns URLs and storage objects into
                        LLM-ready Markdown.
                  config:
                    sample_count: 2
                    max_contexts_per_case: 1
                    include_expected_output: true
                  output:
                    output_format: json
                    include_preview: true
        required: true
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynthesisRunResult"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
      security:
        - BearerAuth: []
  /v1/synthesis/jobs:
    post:
      tags:
        - Synthesis
      summary: Submit an asynchronous synthesis job
      description: Queues a longer-running synthesis workload and returns a Cortex job
        handle for polling and result retrieval.
      operationId: createSynthesisJob
      security:
        - BearerAuth: []
      parameters:
        - name: Idempotency-Key
          in: header
          required: false
          schema:
            anyOf:
              - type: string
              - type: "null"
            description: Optional idempotency key for asynchronous synthesis job submission.
            examples:
              - parse-demo-001
            title: Idempotency-Key
          description: Optional idempotency key for asynchronous synthesis job submission.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SynthesisJobSubmitRequest"
              description: Async synthesis job request. Use this for larger synthetic dataset
                creation or batch enrichment workloads.
            examples:
              qa_pairs_job:
                summary: QA pairs synthesis job / QA 对生成作业
                description: Recommended async submission for larger synthetic dataset
                  generation workloads.
                value:
                  name: Product-QA-Synth
                  synthesis_type: qa_pairs
                  engine_id: auto
                  source:
                    type: inline_records
                    inline_records:
                      - document: Cortex supports pluggable evaluation and synthesis engines.
                  config:
                    sample_count: 100
                    quality_gates:
                      - metric_key: quality.correctness
                        threshold: 0.8
                  output:
                    output_format: jsonl
                  webhook:
                    url: https://example.com/hooks/cortex/synthesis
                    event_types:
                      - job.succeeded
                      - job.failed
              sdv_relational_job:
                summary: SDV relational async job / SDV 关系型异步合成
                description: Async relational synthesis from inline table samples. This example
                  is designed for local Swagger testing with the runtime
                  synthesis worker.
                value:
                  name: swagger-sdv-orders
                  synthesis_type: structured_relational
                  engine_id: sdv
                  source:
                    type: relational_metadata
                    options:
                      tables:
                        customers:
                          - customer_id: c1
                            tier: gold
                          - customer_id: c2
                            tier: silver
                        orders:
                          - order_id: o1
                            customer_id: c1
                            amount: 99
                          - order_id: o2
                            customer_id: c2
                            amount: 42
                  config:
                    sample_count: 3
                    anonymize_pii: true
                  output:
                    output_format: jsonl
                    include_preview: true
              deepeval_conversation_job:
                summary: DeepEval conversation async job / DeepEval 会话异步合成
                description: Async conversation golden generation from seed support-policy
                  context.
                value:
                  name: swagger-conversation-goldens
                  synthesis_type: conversation_goldens
                  engine_id: deepeval
                  source:
                    type: documents
                    documents:
                      - Support agents should ask for the object_id before
                        parsing a private file.
                  config:
                    sample_count: 3
                    max_contexts_per_case: 1
                    include_expected_output: true
                  output:
                    output_format: jsonl
                    include_preview: true
                  webhook:
                    url: https://example.com/hooks/cortex/synthesis
                    event_types:
                      - job.succeeded
                      - job.failed
      responses:
        "202":
          description: Successful Response
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/SynthesisJobAccepted"
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/synthesis/jobs/{jobId}/result:
    get:
      tags:
        - Synthesis
      summary: Get a completed synthesis result
      description: Returns the completed synthesis result when the async job succeeds,
        or a 409 job status payload while work is still in progress.
      operationId: getSynthesisResult
      security:
        - BearerAuth: []
      parameters:
        - name: jobId
          in: path
          required: true
          schema:
            type: string
            title: Jobid
      responses:
        "200":
          description: Successful Response
          content:
            application/json:
              schema:
                anyOf:
                  - $ref: "#/components/schemas/SynthesisRunResult"
                  - $ref: "#/components/schemas/JobStatusDetail"
                title: Response Getsynthesisresult
        "409":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JobStatusDetail"
          description: Conflict
        "422":
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HTTPValidationError"
  /v1/dev/auth/token:
    post:
      tags:
        - Dev Auth
      summary: Issue local development access token / 签发本地开发访问令牌
      description: Available only when `CORTEX_ENV=local` and `CORTEX_AUTH_MODE=dev`.
        Issues a local `dev:` bearer token for Swagger UI, curl, and smoke
        tests. This route is not mounted in non-local deployments. / 仅当
        `CORTEX_ENV=local` 且 `CORTEX_AUTH_MODE=dev` 时才会暴露。该接口用于生成本地 `dev:`
        Bearer token，便于 Swagger、curl 和冒烟测试使用；在非本地部署中不会挂载。
      operationId: issueLocalDevAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LocalDevTokenIssueRequest"
              description: Local development token request. In the simplest case only
                `subject` and `tenant_id` are required. / 本地开发令牌请求，最简单时只需要填写
                `subject` 和 `tenant_id`。
            examples:
              recommended_swagger_token:
                summary: Recommended Swagger dev token / 推荐的 Swagger 开发令牌
                description: Creates a local development bearer token that can be pasted
                  directly into Swagger UI's `Authorize` dialog. / 生成一个可直接粘贴到
                  Swagger UI `Authorize` 弹窗中的本地开发 Bearer token。
                value:
                  subject: alice
                  tenant_id: tenant_demo
                  display_name: Alice
                  client_id: swagger-ui
                  roles:
                    - tenant_admin
                  groups:
                    - platform-ops
                  expires_in: 3600
              minimal_local_token:
                summary: Minimal local token request / 最小化本地令牌请求
                description: Only `subject` and `tenant_id` are required. Cortex fills in the
                  standard local developer scopes automatically. / 只需要 `subject`
                  和 `tenant_id`，其余标准本地开发 scope 由 Cortex 自动补齐。
                value:
                  subject: smoke-test
                  tenant_id: tenant_demo
        required: true
      responses:
        "200":
          description: Local development token issued. / 已签发本地开发令牌。
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/LocalDevTokenIssueResponse"
        "422":
          description: Validation error. / 请求体验证失败。
components:
  schemas:
    AccessLevel:
      type: string
      enum:
        - tenant_private
        - tenant_shared
        - restricted
        - confidential
      title: AccessLevel
    AccessPolicy:
      properties:
        access_level:
          anyOf:
            - $ref: "#/components/schemas/AccessLevel"
            - type: "null"
          description: "Optional coarse-grained data access level. Best default: omit to
            let the service apply the resource-type default."
          examples:
            - tenant_shared
        owner_actor_id:
          anyOf:
            - type: string
            - type: "null"
          title: Owner Actor Id
          description: "Optional resource owner actor ID. Best default: omit to let the
            service infer ownership from the caller."
          examples:
            - alice
        classification_labels:
          items:
            type: string
          type: array
          title: Classification Labels
          description: "Optional classification labels such as `internal` or `restricted`.
            Best default: empty list."
          examples:
            - - internal
              - docs
        allowed_role_keys:
          items:
            type: string
          type: array
          title: Allowed Role Keys
          description: "Optional allow-list of roles that may access the resource. Best
            default: empty list, meaning no extra allow-list constraint."
          examples:
            - - tenant_admin
              - analyst
        denied_role_keys:
          items:
            type: string
          type: array
          title: Denied Role Keys
          description: "Optional deny-list of roles that should be blocked even if other
            checks pass. Best default: empty list."
          examples:
            - - contractor
        purpose_tags:
          items:
            type: string
          type: array
          title: Purpose Tags
          description: "Optional intended-use tags for ABAC policy evaluation. Best
            default: empty list."
          examples:
            - - knowledge_ingest
              - assistant
        constraints:
          additionalProperties: true
          type: object
          title: Constraints
          description: "Optional structured constraints for custom policy engines. Best
            default: empty object."
          examples:
            - region: cn-shanghai
      type: object
      title: AccessPolicy
    AddJobRequest:
      properties:
        dataset_id:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Id
          description: Optional dataset ID. Provide either `dataset_id` or `dataset_key`.
          examples:
            - dset_9558cfc9178444e4a4c60d5658db78f5
        dataset_key:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Key
          description: Optional dataset key. Recommended for human-authored requests when
            stable keys are known.
          examples:
            - product_docs
        inputs:
          items:
            $ref: "#/components/schemas/KnowledgeInput"
          type: array
          minItems: 1
          title: Inputs
          description: Required ingest inputs. At least one input is required.
        options:
          $ref: "#/components/schemas/AddOptions"
          description: "Optional ingest behavior flags. Best default: use the built-in
            defaults."
        webhook:
          anyOf:
            - $ref: "#/components/schemas/WebhookConfig"
            - type: "null"
          description: "Optional webhook callback for job lifecycle events. Best default:
            omit."
      type: object
      required:
        - inputs
      title: AddJobRequest
    AddOptions:
      properties:
        normalize_text:
          type: boolean
          title: Normalize Text
          description: "Normalize raw text before ingestion. Best default: `true`."
          default: true
        structured_ingest:
          type: boolean
          title: Structured Ingest
          description: "Enable structured ingestion and field extraction. Best default:
            `true`."
          default: true
        incremental:
          type: boolean
          title: Incremental
          description: "Avoid reprocessing unchanged content when possible. Best default:
            `true`."
          default: true
        persist_source_copy:
          type: boolean
          title: Persist Source Copy
          description: "Persist a copy of the source payload when supported. Best default:
            `true`."
          default: true
      type: object
      title: AddOptions
    AppliedParseEngine:
      properties:
        engine_key:
          anyOf:
            - type: string
            - type: "null"
          title: Engine Key
        display_name:
          anyOf:
            - type: string
            - type: "null"
          title: Display Name
        engine_family:
          anyOf:
            - type: string
            - type: "null"
          title: Engine Family
        engine_version:
          anyOf:
            - type: string
            - type: "null"
          title: Engine Version
        profile_ref:
          anyOf:
            - type: string
            - type: "null"
          title: Profile Ref
        template_ref:
          anyOf:
            - type: string
            - type: "null"
          title: Template Ref
        fallback_used:
          type: boolean
          title: Fallback Used
          default: false
      type: object
      title: AppliedParseEngine
    AuditFields:
      properties:
        created_at:
          type: string
          format: date-time
          title: Created At
        updated_at:
          type: string
          format: date-time
          title: Updated At
        created_by:
          anyOf:
            - type: string
            - type: "null"
          title: Created By
        updated_by:
          anyOf:
            - type: string
            - type: "null"
          title: Updated By
      type: object
      required:
        - created_at
        - updated_at
      title: AuditFields
    Body_uploadSmallFile:
      properties:
        file:
          type: string
          contentMediaType: application/octet-stream
          title: File
          description: File content to upload. Cortex derives filename, content type, and
            size from the multipart part.
        metadata_json:
          anyOf:
            - type: string
            - type: "null"
          title: Metadata Json
          description: "Optional JSON object string for object metadata. Best default:
            `{}`."
          examples:
            - '{"source":"swagger-demo","document_type":"guide"}'
        access_policy_json:
          anyOf:
            - type: string
            - type: "null"
          title: Access Policy Json
          description: "Optional JSON object string matching AccessPolicy. Best default:
            omit for tenant_private."
          examples:
            - '{"access_level":"tenant_shared"}'
        tags:
          anyOf:
            - type: string
            - type: "null"
          title: Tags
          description: "Optional comma-separated tags or JSON array string. Best default:
            empty."
          examples:
            - docs,product
        checksum_sha256:
          anyOf:
            - type: string
              pattern: ^[0-9a-f]{64}$
            - type: "null"
          title: Checksum Sha256
          description: Optional lowercase SHA-256 checksum. Cortex verifies it before
            committing object metadata when provided.
          examples:
            - aaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa
      type: object
      required:
        - file
      title: Body_uploadSmallFile
    ChunkingOptions:
      properties:
        enabled:
          type: boolean
          title: Enabled
          description: "Whether Cortex should emit chunking hints or stored chunks. Best
            default: `true`."
          default: true
        strategy:
          $ref: "#/components/schemas/ChunkingStrategy"
          description: "Chunking strategy. Best default: `semantic` for LLM-ready content."
          default: semantic
        target_tokens:
          type: integer
          maximum: 4096
          minimum: 64
          title: Target Tokens
          description: "Target token count per chunk. Best default: 512."
          default: 512
          examples:
            - 512
        overlap_tokens:
          type: integer
          maximum: 1024
          minimum: 0
          title: Overlap Tokens
          description: "Token overlap between adjacent chunks. Best default: 64."
          default: 64
          examples:
            - 64
        max_chunks:
          type: integer
          maximum: 10000
          minimum: 1
          title: Max Chunks
          description: "Maximum chunks emitted for one document. Best default: 256."
          default: 256
          examples:
            - 256
      type: object
      title: ChunkingOptions
    ChunkingStrategy:
      type: string
      enum:
        - none
        - heading
        - semantic
        - fixed_tokens
      title: ChunkingStrategy
    Citation:
      properties:
        source_url:
          anyOf:
            - type: string
            - type: "null"
          title: Source Url
        document_id:
          anyOf:
            - type: string
            - type: "null"
          title: Document Id
        chunk_id:
          anyOf:
            - type: string
            - type: "null"
          title: Chunk Id
        start_offset:
          anyOf:
            - type: integer
              minimum: 0
            - type: "null"
          title: Start Offset
        end_offset:
          anyOf:
            - type: integer
              minimum: 0
            - type: "null"
          title: End Offset
      type: object
      title: Citation
    CognifyJobRequest:
      properties:
        dataset_id:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Id
          description: Optional dataset ID. Provide either `dataset_id` or `dataset_key`.
          examples:
            - dset_9558cfc9178444e4a4c60d5658db78f5
        dataset_key:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Key
          description: Optional dataset key. Recommended when stable dataset keys are known.
          examples:
            - product_docs
        incremental_loading:
          type: boolean
          title: Incremental Loading
          description: "Only process newly added or changed content when possible. Best
            default: `true`."
          default: true
        graph_prompt_profile:
          $ref: "#/components/schemas/GraphPromptProfile"
          description: "Prompt profile for graph extraction. Best default: `default`."
          default: default
        chunking:
          $ref: "#/components/schemas/ChunkingOptions"
          description: Chunking controls used before graph creation.
        webhook:
          anyOf:
            - $ref: "#/components/schemas/WebhookConfig"
            - type: "null"
          description: "Optional webhook callback. Best default: omit."
      type: object
      title: CognifyJobRequest
    CompletedUploadPart:
      properties:
        part_number:
          type: integer
          minimum: 1
          title: Part Number
          description: Multipart part number exactly as returned during upload session
            creation.
          examples:
            - 1
        etag:
          type: string
          title: Etag
          description: ETag returned by the object store after uploading the part.
          examples:
            - '"part-1-etag"'
      type: object
      required:
        - part_number
        - etag
      title: CompletedUploadPart
    DatasetCounters:
      properties:
        objects:
          type: integer
          minimum: 0
          title: Objects
          default: 0
        documents:
          type: integer
          minimum: 0
          title: Documents
          default: 0
        chunks:
          type: integer
          minimum: 0
          title: Chunks
          default: 0
        graph_nodes:
          type: integer
          minimum: 0
          title: Graph Nodes
          default: 0
        graph_edges:
          type: integer
          minimum: 0
          title: Graph Edges
          default: 0
      type: object
      title: DatasetCounters
    DatasetRetentionClass:
      type: string
      enum:
        - standard
        - durable
        - temporary
      title: DatasetRetentionClass
    DependencyCheck:
      properties:
        name:
          type: string
          title: Name
        status:
          type: string
          title: Status
        latency_ms:
          anyOf:
            - type: integer
              minimum: 0
            - type: "null"
          title: Latency Ms
        detail:
          anyOf:
            - type: string
            - type: "null"
          title: Detail
      type: object
      required:
        - name
        - status
      title: DependencyCheck
    DocumentProvenance:
      properties:
        input_kind:
          anyOf:
            - $ref: "#/components/schemas/ParseInputKind"
            - type: "null"
        fetched_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          title: Fetched At
        final_url:
          anyOf:
            - type: string
            - type: "null"
          title: Final Url
        http_status:
          anyOf:
            - type: integer
              maximum: 599
              minimum: 100
            - type: "null"
          title: Http Status
        content_length_bytes:
          anyOf:
            - type: integer
              minimum: 0
            - type: "null"
          title: Content Length Bytes
        parser_version:
          anyOf:
            - type: string
            - type: "null"
          title: Parser Version
        content_hash_sha256:
          anyOf:
            - type: string
              pattern: ^[0-9a-f]{64}$
            - type: "null"
          title: Content Hash Sha256
      type: object
      title: DocumentProvenance
    DownloadDisposition:
      type: string
      enum:
        - attachment
        - inline
      title: DownloadDisposition
    DownloadUrlResponse:
      properties:
        object_id:
          type: string
          title: Object Id
        method:
          type: string
          title: Method
        url:
          type: string
          title: Url
        headers:
          additionalProperties:
            type: string
          type: object
          title: Headers
        expires_at:
          type: string
          format: date-time
          title: Expires At
      type: object
      required:
        - object_id
        - method
        - url
        - expires_at
      title: DownloadUrlResponse
    EngineMetricBinding:
      properties:
        engine_id:
          type: string
          title: Engine Id
        native_key:
          anyOf:
            - type: string
            - type: "null"
          title: Native Key
        notes:
          anyOf:
            - type: string
            - type: "null"
          title: Notes
      type: object
      required:
        - engine_id
      title: EngineMetricBinding
    EvalConversationTurn:
      properties:
        role:
          type: string
          title: Role
        content:
          type: string
          title: Content
      type: object
      required:
        - role
        - content
      title: EvalConversationTurn
    EvalEngineDescriptor:
      properties:
        engine_id:
          type: string
          title: Engine Id
        display_name:
          type: string
          title: Display Name
        availability_status:
          type: string
          pattern: ^(available|degraded|disabled)$
          title: Availability Status
        provider:
          anyOf:
            - type: string
            - type: "null"
          title: Provider
        execution_modes:
          items:
            type: string
          type: array
          title: Execution Modes
        supported_eval_types:
          items:
            $ref: "#/components/schemas/EvalType"
          type: array
          title: Supported Eval Types
        supported_metric_prefixes:
          items:
            type: string
          type: array
          title: Supported Metric Prefixes
        default_profiles:
          items:
            type: string
          type: array
          title: Default Profiles
        notes:
          anyOf:
            - type: string
            - type: "null"
          title: Notes
      type: object
      required:
        - engine_id
        - display_name
        - availability_status
      title: EvalEngineDescriptor
    EvalEngineList:
      properties:
        generated_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          title: Generated At
        engines:
          items:
            $ref: "#/components/schemas/EvalEngineDescriptor"
          type: array
          title: Engines
      type: object
      required:
        - engines
      title: EvalEngineList
    EvalFieldMapping:
      properties:
        user_input:
          anyOf:
            - type: string
            - type: "null"
          title: User Input
        actual_output:
          anyOf:
            - type: string
            - type: "null"
          title: Actual Output
        expected_output:
          anyOf:
            - type: string
            - type: "null"
          title: Expected Output
        retrieval_contexts:
          anyOf:
            - type: string
            - type: "null"
          title: Retrieval Contexts
        conversation_turns:
          anyOf:
            - type: string
            - type: "null"
          title: Conversation Turns
      type: object
      title: EvalFieldMapping
    EvalInput:
      properties:
        type:
          type: string
          title: Type
        dataset_id:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Id
        dataset_version:
          anyOf:
            - type: string
            - type: "null"
          title: Dataset Version
        builtin_dataset_key:
          anyOf:
            - type: string
            - type: "null"
          title: Builtin Dataset Key
        object_id:
          anyOf:
            - type: string
            - type: "null"
          title: Object Id
        object_ids:
          items:
            type: string
          type: array
          title: Object Ids
        field_mapping:
          anyOf:
            - $ref: "#/components/schemas/EvalFieldMapping"
            - type: "null"
        filters:
          additionalProperties: true
          type: object
          title: Filters
        test_cases:
          items:
            $ref: "#/components/schemas/EvalTestCase"
          type: array
          title: Test Cases
        trace_session_id:
          anyOf:
            - type: string
            - type: "null"
          title: Trace Session Id
      type: object
      required:
        - type
      title: EvalInput
    EvalJobAccepted:
      properties:
        job_id:
          type: string
          title: Job Id
        job_type:
          $ref: "#/components/schemas/JobType"
        status:
          $ref: "#/components/schemas/JobStatus"
        submitted_at:
          type: string
          format: date-time
          title: Submitted At
        poll_url:
          type: string
          title: Poll Url
        result_url:
          anyOf:
            - type: string
            - type: "null"
          title: Result Url
        cancel_url:
          anyOf:
            - type: string
            - type: "null"
          title: Cancel Url
        telemetry:
          anyOf:
            - $ref: "#/components/schemas/TelemetryContext"
            - type: "null"
        eval_type:
          anyOf:
            - $ref: "#/components/schemas/EvalType"
            - type: "null"
        engine_id:
          anyOf:
            - type: string
            - type: "null"
          title: Engine Id
      type: object
      required:
        - job_id
        - job_type
        - status
        - submitted_at
        - poll_url
      title: EvalJobAccepted
    EvalJobSubmitRequest:
      properties:
        eval_type:
          $ref: "#/components/schemas/EvalType"
        input:
          $ref: "#/components/schemas/EvalInput"
        name:
          anyOf:
            - type: string
            - type: "null"
          title: Name
        engine_id:
          type: string
          title: Engine Id
          default: auto
        profile_key:
          anyOf:
            - type: string
            - type: "null"
          title: Profile Key
        target:
          anyOf:
            - $ref: "#/components/schemas/EvalTarget"
            - type: "null"
        metrics:
          items:
            $ref: "#/components/schemas/EvalMetricRequest"
          type: array
          title: Metrics
        engine_options:
          additionalProperties: true
          type: object
          title: Engine Options
        output:
          $ref: "#/components/schemas/EvalOutputOptions"
        webhook:
          anyOf:
            - $ref: "#/components/schemas/WebhookConfig"
            - type: "null"
      type: object
      required:
        - eval_type
        - input
      title: EvalJobSubmitRequest
    EvalMetricCatalog:
      properties:
        generated_at:
          anyOf:
            - type: string
              format: date-time
            - type: "null"
          title: Generated At
        metrics:
          items:
            $ref: "#/components/schemas/EvalMetricDefinition"
          type: array
          title: Metrics
      type: object
      required:
        - metrics
      title: EvalMetricCatalog
    EvalMetricDefinition:
      properties:
        metric_key:
          type: string
          title: Metric Key
        display_name:
          type: string
          title: Display Name
        eval_types:
          items:
            $ref: "#/components/schemas/EvalType"
          type: array
          title: Eval Types
        engine_bindings:
          items:
            $ref: "#/components/schemas/EngineMetricBinding"
          type: array
          title: Engine Bindings
        description:
          anyOf:
            - type: string
            - type: "null"
          title: Description
        category:
          anyOf:
            - type: string
            - type: "null"
          title: Category
        unit:
          anyOf:
            - type: string
            - type: "null"
          title: Unit
        score_direction:
          type: string
          title: Score Direction
          default: higher_is_better
        threshold_hint:
          anyOf:
            - type: number
            - type: "null"
          title: Threshold Hint
        required_fields:
          items:
            type: string
          type: array
          title: Required Fields
      type: object
      required:
        - metric_key
        - display_name
      title: EvalMetricDefinition
    EvalMetricRequest:
      properties:
        metric_key:
          type: string
          title: Metric Key
        threshold:
          anyOf:
            - type: number
            - type: "null"
          title: Threshold
        weight:
          anyOf:
            - type: number
            - type: "null"
          title: Weight
        params:
          additionalProperties: true
          type: object
          title: Params
      type: object
      required:
        - metric_key
      title: EvalMetricRequest
    EvalMetricResult:
      properties:
        metric_key:
          type: string
          title: Metric Key
        status:
          type: string
          pattern: ^(passed|failed|warn|info)$
          title: Status
        display_name:
          anyOf:
            - type: string
            - type: "null"
          title: Display Name
        score:
          anyOf:
            - type: number
            - type: "null"
          title: Score
        threshold:
          anyOf:
            - type: number
            - type: "null"
          title: Threshold
        unit:
          anyOf:
            - type: string
            - type: "null"
          title: Unit
        engine_id:
          anyOf:
            - type: string
            - type: "null"
          title: Engine Id
        native_metric_key:
          anyOf:
            - type: string
            - type: "null"
          title: Native Metric Key
        sample_size:
          anyOf:
            - type: integer
              minimum: 0
            - type: "null"
          title: Sample Size
        details:
          additionalProperties: true
          type: object
          title: Details
      type: object
      required:
        - metric_key
        - status
      title: EvalMetricResult
    EvalOutputOptions:
      properties:
        persist_report_object:
          type: boolean
          title: Persist Report Object
          default: true
        persist_dataset_key:
          anyOf:
            - type: string
            - type: "null"
          title: Persist Dataset Key
        include_sample_results:
          type: boolean
          title: Include Sample Results
          default: true
        max_failures_reported:
          anyOf:
            - type: integer
              minimum: 1
            - type: "null"
          title: Max Failures Reported
      type: object
      title: EvalOutputOptions
    EvalRunResult:
      properties:
        eval_type:
          $ref: "#/components/schemas/EvalType"
        engine_id:
          type: string
          title: Engine Id
        status:
          type: string
          pattern: ^(succeeded|failed|partial)$
          title: Status
        summary:
          $ref: "#/components/schemas/EvalScoreCard"
        metrics:
          items:
            $ref: "#/components/schemas/EvalMetricResult"
[...]
